/*
    CSS for main file
*/
/* 
    Created on : Dec 13, 2014, 6:37:54 PM
    Author     : marlongeraldorodriguesviana
*/
@font-face {      
    font-weight: normal;  
    font-style: normal;  
}  
     
html,body{ 
    width:100%;     
    height:100%;  
    margin:0;
    padding:0;
    overflow-x:hidden;
    min-width: 410px;
    font-family: 'Fjalla One', sans-serif;   
}

body {
    background: #44749D;
}

#container {
   min-height:100%;
   position:relative;
}

#content {
    padding-bottom:4em;   
    height: auto;
}

#accordion_sys_manager {
    margin-top: 7em;
    width: 50%;
    margin-left: 25%;
}

#option_managers {
    padding-top: 2em;
}

#option_managers button {
    display: inline-block;
}

#option_managers label {
    display: inline-block; 
}

#accordion_users {
    margin-top: 5em;
    width: 50%;
    margin-left: 25%;
}

#accordion_groups {
    margin-top: 5em;
    width: 50%;
    margin-left: 25%;
}

#accordion_addedit_groups {
    margin-top: 5em;
    width: 50%;
    margin-left: 25%;
}

#accordion_addedit_users {
    margin-top: 5em;
    width: 50%;
    margin-left: 25%;
}

.update_buttons {
    margin-top:3.5em; 
    font-size: 14px
}

.table_info {
    margin-top: 1em;
}

.delete_user {
    width: 30px !important;
    height: 30px !important;
}

.edit_user {
    width: 30px !important;
    height: 30px !important;
}

.delete_group {
    width: 30px !important;
    height: 30px !important;
}

.edit_group {
    width: 30px !important;
    height: 30px !important;
}