/*
    CSS for users view
*/
/* 
    Created on : Dec 13, 2014, 9:21:31 PM
    Author     : marlongeraldorodriguesviana
*/

#accordion_users {
    margin-top: 5em;
    width: 50%;
    margin-left: 25%;
}
